
// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------

///*
//  Set up a decent box model on the root element
//*/

// set html { font-size: 62.5%; } if you want to make 1rem equal to 10px. dot not use it with css frameworks like bootstrap. tailwind etc.

/*
  Basic typography style for copy text
*/
body {
  color: $body-color;
  font-family: $font-family-base;
  font-size: map-get($font-sizes, 'base');
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
}

/*
  Basic styles for links
*/
a {
  @include transition(color);
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

ul,
ol,
dl,
p {
  margin: 0 0 $paragraph-margin-bottom;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	color: $dark;
}

h2,
.h2 {
  font-size: 2.5rem;
	text-transform: uppercase;
  line-height: 1;
  @include media('>=tablet') {
    font-size: 3rem;
  }
  @include media('>=desktop') {
    font-size: 4rem;
  }
  @include media('>=laptop') {
    font-size: 6rem;
  }
  @include media('>=widescreen') {
    font-size: 8rem;
  }
}
h3,
.h3 {
  font-size: 2.5rem;
	text-transform: uppercase;
  line-height: 1.1;
  @include media('>=phone') {
    font-size: 3rem;
  }
  @include media('>=tablet') {
    font-size: 4.5rem;
  }
  @include media('>=desktop') {
    font-size: 5rem;
  }
  @include media('>=widescreen') {
    font-size: 6.4rem;
  }
	span{
		color: $green;
	}
}
h5,
.h5 {
  font-size: 1.6rem;
  line-height: 1.1;
  @include media('>=widescreen') {
    font-size: 2.4rem;
  }
}