.projects{
	text-align: center;
	padding: 3rem 0;
	@include media(">=desktop"){
		padding: 6rem 0 6rem;
	}
	@include media(">=laptop"){
		padding: 6rem 0 12rem;
	}
	&-image{
		padding-bottom: 3rem;
		width: calc(100vw - 2rem);
		left: 50%;
		position: relative;
		transform: translateX(-50%);
		img{
			width: 100%;
		}
	}
}