.about{
	padding: 5rem 0;
	@include media(">=desktop"){
		padding: 12rem 0;
	}
	.item{
		@include media(">=tablet"){
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			column-gap: 3rem;
		}
		&-images{
			margin-bottom: 2rem;
			@include media(">=tablet"){
				width: 40%;
				margin-bottom: 0;
			}
			img{
				&:first-child{
					margin-bottom: 1rem;
				}
			}
		}
		&-content{
			@include media(">=tablet"){
				width: 60%;
			}
			&_link{
				margin-bottom: 6rem;
				position: relative;
				&:after{
					content:"";
					width: 20rem;
					height: 0.1rem;
					background-color: $green;
					display: inline-block;
					position:	absolute;
					bottom: -2rem;
					left: -9rem;
				}
			}
		}
	}
	h3{
		padding-bottom: 3rem;
	}
}