// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels

$breakpoints: (
  'xs-phone': 320px,
  'phone': 520px,
  'tablet': 768px,
  'desktop': 1024px,
  'laptop': 1480px,
  'widescreen': 1920px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// Color system

$white: #fff;
$black: #000;
$green: #1E836B;
$dark: #2C2C36;
$light: #F6F6F6;
$grey: #F0F0F0;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $black;
$yiq-text-light: $white;

// body
//
// settings for the `<body>` element.

$rem-base: 10px;

$body-bg: $white;
$body-color: $black;

$link-color: #0366d6;
$link-decoration: none;
$link-hover-color: darken(#0366d6, 5%);
$link-hover-decoration: none;

// border radius
$rounded-circle: 50%;

// Typography
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'HelveticaNeueCyr','Arial', 'Noto Sans', sans-serif;
$font-family-gilroy: 'Gilroy';
$font-family-raleway: 'Raleway';
$font-family-base: $font-family-sans-serif;
$base-font-path: './dist/fonts';

$line-height-base: 1.5;

// container max width, used for .container element
$gutter: 20px;
$container-max-width: 1270px;

$font-weight-thin: 100;
$font-weight-ulight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;

$font-sizes: (
  'xl': 18px,
  'lg': 16px,
  'base': 14px,
  'md': 12px,
  'sm': 10px,
);

$headings-sizes: (
  'h1': 30px,
  'h2': 26px,
  'h3': 22px,
  'h4': 20px,
  'h5': 18px,
  'h6': 16px,
);

$headings-margin-bottom: 1em;
$headings-font-weight: inherit;
$headings-line-height: 1.2;

// Paragraphs

$paragraph-margin-bottom: 1.5em;

// Base transition function
$transition-duration-base: 0.35s;
$transition-easing-base: cubic-bezier(0.3, 0.86, 0.36, 0.95);
